@font-face {
  font-family: "Beaufort";
  src: url("./fonts/BeaufortforLOL-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Spiegel";
  src: url("./fonts/Spiegel_TT_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: radial-gradient(circle, #091428 49%, #0a1428 50%);
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Beaufort";
}

p,
span {
  font-family: "Spiegel";
  color: #dbd5c4;
}

h1 {
  text-align: center;
  font-size: 40pt;
  margin: 10px;
  color: #c89b3c;
}

h2 {
  font-size: 28pt;
  margin-bottom: 0;
  color: #f0e6d2;
}

h3 {
  font-size: 23pt;
  color: #f0e6d2;
}

h4 {
  font-size: 18pt;
}

h5 {
  font-size: 14pt;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #c8aa6e;
}

img.icon {
  width: 75px;
}

#collection {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 15px;
  justify-items: center;
  text-align: center;
}

#collection div {
  padding-top: 8px;
  border: 1px solid #1e282d;
  border-radius: 5%;
  background-image: radial-gradient(circle, #091428, #0a323c);
  height: auto;
  width: 100px;
  cursor: pointer;
}

#collection p {
  margin: 2px 0 5px 0;
}

.championName {
  display: block;
}

#description {
  background-image: linear-gradient(to bottom right, #0a323c, #091428);
  width: 90%;
  margin: auto;
  margin-top: 10px;
  border: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  border-color: #3c3c41;
  border-radius: 1%;
}

#close-description-box {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #c8aa6e;
  width: 30px;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-color: #3c3c41;
  border-radius: 1%;
}

#name-title {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-bottom: 10px;
  color: #c8aa6e;
  border: none;
}

#name-title * {
  margin: auto;
}

#champion-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

section {
  display: flex;
  flex-direction: column;
  width: 324px;
  padding: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 5px solid #3c3c41;
  border-radius: 5%;
}

#splashart {
  justify-content: center;
  align-items: center;
  align-content: center;
}

#splashArt img {
  width: auto;
  height: 100%;
  margin: auto;
  border-radius: 5%;
  border: 3px solid #010a13;
}

section#lore {
  text-align: center;

  align-items: center;
}

section#lore p {
  width: 95%;
  margin: 0, auto;
}

section#stats {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 54.5px repeat(5, auto);
  grid-gap: 0;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden;
}

section#stats h3 {
  grid-column: span 2;
  text-align: center;
  margin: 0;
}

section#stats div {
  height: 100px;
  width: 165px;
  border: 3px solid #454550;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

div#champion-info section#data {
  text-align: center;
  padding: 0px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
section#data div {
  height: auto;
  margin: auto;
}

div.tag h3 {
  margin: 5px;
}

.hidden {
  display: none;
}

#comment-section.hidden {
  display: none;
}

#queries {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#search #query {
  width: 260px;
  height: 25px;
  font-size: 18px;
  border-radius: 4px;
  margin-top: 10px;
}

#search #search-button {
  height: 25px;
  margin-top: 10px;
}

#comment-section {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

#new-comment-form {
  display: flex;
  flex-direction: column;
}

#new-comment-form label {
  margin-bottom: 5px;
}

#new-comment-form input,
#new-comment-form textarea {
  margin-bottom: 10px;
  padding: 10px;
}

#new-comment-form input[type="submit"] {
  cursor: pointer;
}

#comment-list {
  max-height: 500px;
  overflow-y: auto;
  padding: 0;
  list-style: none;
}

#comment-list li {
  border-bottom: 1px solid #3c3c41;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  word-wrap: break-word;
}

#comment-list p {
  text-wrap: wrap;
}

#comment-list button {
  top: 18px;
  right: 20px;
  position: absolute;
  cursor: pointer;
}
