@font-face {
  font-family: "Beaufort";
  src: url("./fonts/BeaufortforLOL-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Spiegel";
  src: url("./fonts/Spiegel_TT_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: radial-gradient(circle, #091428 49%, #0a1428 50%);
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Beaufort";
}

p,
span {
  font-family: "Spiegel";
}

h1 {
  text-align: center;
  font-size: 40pt;
  margin: 10px;
  color: #c89b3c;
}

h2 {
  font-size: 28pt;
  margin-bottom: 0;
}

h3 {
  font-size: 23pt;
}

h4 {
  font-size: 18pt;
}

h5 {
  font-size: 14pt;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
}

#search {
  display: flex;
}

#fieldset {
  display: flex;
}

img.icon {
  width: 75px;
}

#collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 15px;
  justify-items: center;
  text-align: center;
}

#collection div {
  padding-top: 8px;
  border: 1px solid #000;
  border-radius: 5%;
  background-color: rgb(42, 54, 54);
  height: auto;
  width: 100px;
}

#collection p {
  margin: 2px 0 5px 0;
}

.championName {
  display: block;
}

#description {
  background-image: linear-gradient(to bottom right, #0a323c, #091428);
  width: 90%;
  margin: auto;
  margin-top: 10px;
  border: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  border-color: #3c3c41;
  border-radius: 1%;
}

#close-description-box {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #c8aa6e;
  width: 30px;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-color: #3c3c41;
  border-radius: 1%;
}

#description p {
  font-size: 18px;
}

#name-title {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-bottom: 10px;
  color: #cdfafa;
}

#name-title h2 {
  font-size: 40px;
}

#name-title * {
  margin: auto;
}

#champion-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

section {
  display: flex;
  flex-direction: column;
  width: 324px;
  padding: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 1%;
}

section#splashart {
  justify-content: center;
  align-items: center;
  align-content: center;
}

section#splashArt img {
  width: auto;
  height: 100%;
  margin: auto;
}

section#lore {
  text-align: center;
  border: 3px solid #3c3c41;
  align-items: center;
}

section#lore p {
  width: 95%;
  margin: 0, auto;
}

div#stats-container {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  grid-template-rows: 54.5px repeat(5, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  border: 3px solid #3c3c41;
  align-self: center;
  height: 100%;
}

div#stats-container h3 {
  margin: 0px;
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  grid-template-rows: 50px;
}

div#stats-container div {
  height: 100px;
  width: 160px;
}

div.stat h5 {
}

div#stats-container div:nth-of-type(1) {
  grid-area: 2 / 1 / 3 / 2;
}
div#stats-container div:nth-of-type(2) {
  grid-area: 2 / 2 / 3 / 3;
}
div#stats-container div:nth-of-type(3) {
  grid-area: 3 / 1 / 4 / 2;
}
div#stats-container div:nth-of-type(4) {
  grid-area: 3 / 2 / 4 / 3;
}
div#stats-container div:nth-of-type(5) {
  grid-area: 4 / 1 / 5 / 2;
}
div#stats-container div:nth-of-type(6) {
  grid-area: 4 / 2 / 5 / 3;
}
div#stats-container div:nth-of-type(7) {
  grid-area: 5 / 1 / 6 / 2;
}
div#stats-container div:nth-of-type(8) {
  grid-area: 5 / 2 / 6 / 3;
}
div#stats-container div:nth-of-type(9) {
  grid-area: 6 / 1 / 7 / 2;
}
div#stats-container div:nth-of-type(10) {
  grid-area: 6 / 2 / 7 / 3;
}

div#stats-container .stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
  border: solid;
  border-width: 1px;
}

div#champion-info section#data {
  text-align: center;
  border: 3px solid #463714;
  padding: 0px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
section#data div {
  height: auto;
  margin: auto;
}

div.tag h3 {
  margin: 5px;
}

.hidden {
  display: none;
}

#queries {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#search #query {
  width: 260px;
  height: 25px;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 10px;
}

#search #search-button {
  height: 25px;
  margin-top: 10px;
}
